*.ncb
*.suo
*.pdb
*.ilk
*.aps
/wadsrc_wad
*.user
/build
/release_gcc
/DOOMSTATS.TXT
/src/gitinfo.h
/wadsrc/*.pk3
/disasm.txt
/build_vc2015
/build_vc2015-32
/build_vc2015-64
/build_vc2017-64
/build
/llvm
.vs
.idea
.vscode
/src/gl/unused
/mapfiles_release/*.map
.DS_Store
/build_vc2017-32
/build2
/build_vc2019-64
/build_vc2019-32
