/Debug
*.ncb
*.suo
*.pdb
*.ilk
*.aps
/fmodapi*/
/Release
/wadsrc_wad
*.user
/build
/debug
/release
*/debug
*/release
/release_gcc
/dumb/vc6/dumb_static/release
/dumb/vc6/dumb_static/debug
/dumb/vc6/dumb_static/x64
/DOOMSTATS.TXT
/src/gitinfo.h
/src/sc_man_scanner.h
/src/xlat/xlat_parser.c
/src/xlat/xlat_parser.h
/src/xlat/xlat_parser.out
/src/zscript/zcc-parse.c
/src/zscript/zcc-parse.h
/src/zscript/zcc-parse.out
/tools/*/debug
/tools/*/release
/tools/*/*.exe
/tools/lemon/build
/tools/re2c/build
/tools/updaterevision/x64/
/tools/zipdir/x64
/wadsrc/*.pk3
/build_vc2013
/bzip2/x64/
/disasm.txt
/game-music-emu/x64/
/gdtoa/x64/
/jpeg-6b/x64/
/lzma/x64/
/zlib/x64/
/build_vc2013_64bit
/build_vc2015
/build_vc2015-32
/build_vc2015-64
/build
