# build artifacts
/build*
/wadsrc/*.pk3
/appimage-build
.flatpak-builder/
*.AppImage
*.flatpak
flatpak/
gzdoom-crash.log
fmodapi*linux/

# generated code
/src/gitinfo.h

# editor/tooling/os files
*~
.gdb_history
.DS_Store
.vs
.idea
.vscode
.cache
*.kate-swp

# private dev files
*.user
*.local
*.log

# other / unknown
*.ncb
*.suo
*.pdb
*.ilk
*.aps
/wadsrc_wad
/release_gcc
/DOOMSTATS.TXT
/disasm.txt
/llvm
/src/gl/unused
/mapfiles_release/*.map
/AppDir
.cache/
