[Desktop Entry]
Name=GZDoom
Comment=Multi-game launcher for Doom era games
Icon=org.zdoom.GZDoom
Categories=Game;Shooter;
Exec=gzdoom %F
StartupNotify=true
PrefersNonDefaultGPU=true
Terminal=false
Type=Application
Keywords=Doom;Heretic;Hexen;strife;pwad;iwad;first;person;shooter;
MimeType=application/x-doom-wad;application/x-doom-pk7;application/x-doom-pk3;
Actions=launch-safemode;launch-doom-1;launch-doom-2;launch-heretic;launch-hexen;launch-strife;

[Desktop Action launch-safemode]
Name=GZDoom Safemode
Icon=org.zdoom.GZDoom
Exec=gzdoom -noautoload -noautoexec %F

[Desktop Action launch-doom-1]
Name=Launch Doom
Icon=org.zdoom.GZDoom
Exec=gzdoom -iwad DOOM.WAD %F

[Desktop Action launch-doom-2]
Name=Launch Doom 2
Icon=org.zdoom.GZDoom
Exec=gzdoom -iwad DOOM2.WAD %F

[Desktop Action launch-heretic]
Name=Launch Heretic
Icon=org.zdoom.GZDoom
Exec=gzdoom -iwad HERETIC.WAD %F

[Desktop Action launch-hexen]
Name=Launch Hexen
Icon=org.zdoom.GZDoom
Exec=gzdoom -iwad HEXEN.WAD %F

[Desktop Action launch-strife]
Name=Launch Strife
Icon=org.zdoom.GZDoom
Exec=gzdoom -iwad STRIFE1.WAD %F
